# Requirements de produção
-r Requirements.txt

# Requirements de desenvolvimento
blue
build
isort
prospector
twine
wheel

# Requirements de testes
Pytest
pytest-cov

# Requirements de documentação
mkdocs
mkdocs-material
pymdown-extensions
mkdocs-custommill
mkdocs-windmill-dark
